.env
/vendor
/comments
/node_modules
/public/vendor
Homestead.yaml
Homestead.json
composer.lock
database/migrations/2015_08_11_*
.htaccess
/app/comments
/config/comments.php
/config/recaptcha.php
/resources/views/vendor/recaptcha/
